{% extends 'base.html' %}
{% load static%}
{% block content %}
<h3>My Appointments</h3>
<div class="col-md-1"></div>
<div class="col-md-8">
    {% for appointment in my_appointments %}
    <div class="col-md-4">
        <div class="panel" style="background-color:gainsboro;">
            {% if appointment.doctor.user_type == 1%}
                Dr. {{appointment.doctor.name}}
                <img src={{appointment.doctor.profile_pic.url}} alt="profile pic" class="img-responsive img-rounded"><br>
                {{appointment.type_of_appointment}}<br>
                {{appointment.patient.username}}
            {% else %}
                {{appointment.doctor.name}}  <span style="float:right;">&nbsp;|&nbsp;Patient</span>
                <img src={{appointment.doctor.profile_pic.url}} alt="profile pic" class="img-responsive img-rounded"><br>
                Type of Appointment:{{appointment.type_of_appointment}}<br>
                <button class="btn btn-primary">Cancel Appointment</button>
                <a href="{% url 'attend_appointment' appointment.id %}"><button  class="btn btn-primary">Attend Appointment</button></a>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
<div class="col-md-1"></div>
{% endblock %}